<a href="https://colab.research.google.com/github/pi-mishra/python_practice/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

•	Write a program to reverse an integer in Python.

In [ ]:
num = int(input('Enter num :'))
reverse_num = 0

while num > 0:
  last_digit = num%10 
  reverse_num = reverse_num * 10 + last_digit
  num = num//10

print("the reversed integer is ",reverse_num)

Enter num :89
the reversed integer is  98

•	Write a program in Python to check whether an integer is Armstrong number or not.

In [ ]:
#An Armstrong number (also called a Narcissistic number) is a number that is equal to the sum of its own digits raised to the power of the number of digits.

In [ ]:
def is_armstrong(num):
  num_str = str(num)
  n = len(num_str)
  sum = 0
  for digit in num_str:
    sum += int(digit)**n
  if sum == num:
    return True
  else:
    return False

In [ ]:
num = int(input())

is_armstrong(num)

153

True

* Write code to iterate over each letter in a word.

In [ ]:
s = 'Rakesh Jhunjhunwala.'

for i in s:
  print(i)

R
a
k
e
s
h

J
h
u
n
j
h
u
n
w
a
l
a
.

* Find average of list of numbers

In [ ]:
list_n = [5,45,76,46,23]

sum = 0

for i in list_n:
  sum += i
print("Sum = ", sum)
print("Average = ", sum/len(list_n))

Sum =  195
Average =  39.0

* print table of a given number

In [ ]:
def mutiplication_table(num):
  for i in range(1,11):
    print(f"{num} x {i} = {num*i} ")

mutiplication_table(8)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80



* User will input (3ages).Find the oldest one

In [ ]:
a = input(int())
b = input(int())
c = input(int())

if a >= b and a >=c:
  print(a)
elif b>=a and b>=c:
  print(b)
else:
  print(c)

06
08
02
8



* Write a program that will convert celsius value to fahrenheit

In [ ]:
def celsius_to_fahrenheit(celsius: float):
    return (celsius * 9/5) + 32

In [ ]:
print("fahrenheit = ",celsius_to_fahrenheit(5))

fahrenheit =  41.0

* User will input (2numbers).Write a program to swap the numbers

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# swapping the numbers using a temporary variable
temp = num1
num1 = num2
num2 = temp

print(f"After swapping, the first number is {num1} and the second number is {num2}.")

Enter the first number: 5
Enter the second number: 8
After swapping, the first number is 8.0 and the second number is 5.0.

* Write a program that will give you the sum of 3 digits

In [ ]:
def add(a:float,b:float,c:float):
  return(a+b+c)

In [ ]:
add(5,5,9)

19

* Write a program that will reverse a four digit number.Also it checks whether the reverse is true.